<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Filesdb</title>
</head>
<body>
  <h1>File database for package managers</h1>
  <p>Available endpoints:</p>
  <ul>
    <li><code>/pypi/&lt;project_name&gt;</code>: List versions of the given project</li>
    <li><code>/pypi/&lt;project_name&gt;/&lt;version&gt;</code>: List downloads for that project version</li>
    <li><code>/pypi/&lt;project_name&gt;/&lt;version&gt;/&lt;download_filename&gt;</code>: List files inside that download, if available</li>
    <li><code>/pypi/&lt;project_name&gt;/&lt;version&gt;/&lt;download_filename&gt;/wheel_metadata</code>: Show the wheel metadata from that download, if available</li>
    <li><code>/python/import/&lt;name&gt;</code>: List packages providing the given top-level import</li>
    <li><code>/files/prefix/&lt;file_prefix&gt;</code>: List files matching a given prefix, and the projects they come from</li>
    <li><code>/files/sha1/&lt;sha1_hash&gt;</code> or <code>/files/sha256/&lt;sha256_hash&gt;</code>: List files that have the given digest, and the projects they come from</li>
  </ul>
  {% if statistics %}
  <p>The database has {{ "{0:,}".format(statistics.projects) }} projects, {{ "{0:,}".format(statistics.downloads) }} downloads, {{ "{0:,}".format(statistics.downloads_indexed) }} downloads contents, {{ "{0:,}".format(statistics.files) }} files.</p>
  {% endif %}
</body>
</html>
